
/* slide 2 */
.title-slide-animation {
    animation-name: title-slide;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    /* animation-iteration-count: infinite; */
}

.fan-img-animation {
    animation-name: fan-spin;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.phone-shake-animation {
    animation-name: phone-shake;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.left-machine-animation {
    animation-name: left-machine;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.center-machine-animation {
    animation-name: center-machine;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.right-machine-animation {
    animation-name: right-machine;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.principal-title-animation {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em;
    animation: typing 4s steps(20, end);
}

/* .client-brand-animation {
    animation-name: client-brand;
    animation-duration: 1.5s;
    animation-timing-function: linear;
} */

.brand-animation:hover {
    -webkit-transform: scale(1.4, 1.4);
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -o-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
}

@keyframes title-slide {
    0% {
        -webkit-transform: translate(0px, -100px);
        -moz-transform: translate(0px, -100px);
        -ms-transform: translate(0px, -100px);
        -o-transform: translate(0px, -100px);
        transform: translate(0px, -100px);
        color: transparent;
    }
    50% {
        color: transparent;
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
        color: white;
    }
}

@keyframes typing {
    0% { 
        width: 0 
    }
    100% { 
        width: 100% 
    }
}  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: blue; }
}

@keyframes fan-spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes phone-shake {
    0% {
        -webkit-transform: rotate(10deg) translate(1px, 1px);
        -moz-transform: rotate(10deg) translate(1px, 1px);
        -ms-transform: rotate(10deg) translate(1px, 1px);
        -o-transform: rotate(10deg) translate(1px, 1px);
        transform: rotate(10deg) translate(1px, 1px);
    }
    1% {
        -webkit-transform: rotate(-10deg) translate(-1px, -1px);
        -moz-transform: rotate(-10deg) translate(-1px, -1px);
        -ms-transform: rotate(-10deg) translate(-1px, -1px);
        -o-transform: rotate(-10deg) translate(-1px, -1px);
        transform: rotate(-10deg) translate(-1px, -1px);
    }
    20% {
        -webkit-transform: rotate(10deg) translate(-1px, 1px);
        -moz-transform: rotate(10deg) translate(-1px, 1px);
        -ms-transform: rotate(10deg) translate(-1px, 1px);
        -o-transform: rotate(10deg) translate(-1px, 1px);
        transform: rotate(10deg) translate(-1px, 1px);
    }
    30% {
        -webkit-transform: rotate(-10deg) translate(1px, -1px);
        -moz-transform: rotate(-10deg) translate(1px, -1px);
        -ms-transform: rotate(-10deg) translate(1px, -1px);
        -o-transform: rotate(-10deg) translate(1px, -1px);
        transform: rotate(-10deg) translate(1px, -1px);
    }
    40% {
        -webkit-transform: rotate(10deg) translate(-1px, -1px);
        -moz-transform: rotate(10deg) translate(-1px, -1px);
        -ms-transform: rotate(10deg) translate(-1px, -1px);
        -o-transform: rotate(10deg) translate(-1px, -1px);
        transform: rotate(10deg) translate(-1px, -1px);
    }
    50% {
        -webkit-transform: rotate(-10deg) translate(1px, 1px);
        -moz-transform: rotate(-10deg) translate(1px, 1px);
        -ms-transform: rotate(-10deg) translate(1px, 1px);
        -o-transform: rotate(-10deg) translate(1px, 1px);
        transform: rotate(-10deg) translate(1px, 1px);
    }
    60% {
        -webkit-transform: rotate(10deg) translate(-1px, 1px);
        -moz-transform: rotate(10deg) translate(-1px, 1px);
        -ms-transform: rotate(10deg) translate(-1px, 1px);
        -o-transform: rotate(10deg) translate(-1px, 1px);
        transform: rotate(10deg) translate(-1px, 1px);
    }
    70% {
        -webkit-transform: rotate(-10deg) translate(1px, -1px);
        -moz-transform: rotate(-10deg) translate(1px, -1px);
        -ms-transform: rotate(-10deg) translate(1px, -1px);
        -o-transform: rotate(-10deg) translate(1px, -1px);
        transform: rotate(-10deg) translate(1px, -1px);
    }
    80% {
        -webkit-transform: rotate(10deg) translate(-1px, -1px);
        -moz-transform: rotate(10deg) translate(-1px, -1px);
        -ms-transform: rotate(10deg) translate(-1px, -1px);
        -o-transform: rotate(10deg) translate(-1px, -1px);
        transform: rotate(10deg) translate(-1px, -1px);
    }
    90% {
        -webkit-transform: rotate(-10deg) translate(1px, 1px);
        -moz-transform: rotate(-10deg) translate(1px, 1px);
        -ms-transform: rotate(-10deg) translate(1px, 1px);
        -o-transform: rotate(-10deg) translate(1px, 1px);
        transform: rotate(-10deg) translate(1px, 1px);
    }
    100% {
        -webkit-transform: rotate(0deg) translate(1px, -1px);
        -moz-transform: rotate(0deg) translate(1px, -1px);
        -ms-transform: rotate(0deg) translate(1px, -1px);
        -o-transform: rotate(0deg) translate(1px, -1px);
        transform: rotate(0deg) translate(1px, -1px);
    }
}

@keyframes left-machine {
    0% {
        -webkit-transform: translate(-100px, 0px);
        -moz-transform: translate(-100px, 0px);
        -ms-transform: translate(-100px, 0px);
        -o-transform: translate(-100px, 0px);
        transform: translate(-100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}
@keyframes center-machine {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
}
@keyframes right-machine {
    0% {
        -webkit-transform: translate(100px, 0px);
        -moz-transform: translate(100px, 0px);
        -ms-transform: translate(100px, 0px);
        -o-transform: translate(100px, 0px);
        transform: translate(100px, 0px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }
}

/* @keyframes client-brand {
    0% {
        -webkit-transform: scale(1, 1) translate(0, 0);
        -moz-transform: scale(1, 1) translate(0, 0);
        -ms-transform: scale(1, 1) translate(0, 0);
        -o-transform: scale(1, 1) translate(0, 0);
        transform: scale(1, 1) translate(0, 0);
    }
    50% {
        -webkit-transform: scale(1.5, 1.5) translate(50px, 50px);
        -moz-transform: scale(1.5, 1.5) translate(50px, 50px);
        -ms-transform: scale(1.5, 1.5) translate(50px, 50px);
        -o-transform: scale(1.5, 1.5) translate(50px, 50px);
        transform: scale(1.5, 1.5) translate(50px, 50px);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
} */
