html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

@font-face {
    font-family: 'rez';
    src: url('../fonts/REZ.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('../fonts/REZ.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

figure {
    margin: 0;
}

.base-color {
    color: #015181;
}

.secondary-color {
    color: #7FC810;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.back-home {
    background-image: url('../assets/bg_sm.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-blue {
    background-image: url('../assets/bg_blue_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-green {
    background-image: url('../assets/bg_green_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fa.fa-phone { 
    font-size:32px; 
    color: white;
}
.fa.fa-mobile-phone { 
    font-size:34px; 
    color: white;
}

.btn {
    border-radius: 25px;
    width: 180px;
}

.btn-buy {
    background-color: rgba(255, 255, 255, .3);
    border: white solid 2px;
    color: white!important;
    font-size: 22px;
    font-weight: bold;
    transition: transform .5s;
}

.btn-buy:hover {
    transform: scale(1.2);
}

.font-count-aditional {
    color: #015181;
}

.us-image {
    /* z-index:1; */
    /* position: absolute; */
    margin: 0 auto;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
    height: 80px;
    width: 80px;
}

.card-count-aditional {
    border: 1px solid #015181;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-aditional {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.aditional-img {
    border-radius: 10px;
    transition: transform .5s;
}

.aditional-img:hover {
    transform: scale(1.1);
}

.card-advantage {
    z-index:1;
    position: absolute;
    top: -90px;
    background-color: rgba(255, 255, 255);
    /* border: white solid 1px; */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; 
    height: 130px;
    width: 130px;
}

.card-equipment {
    background-color: rgb(255, 255, 255);
    /* border: white solid 1px; */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.card-brand {
    background-color: rgb(255, 255, 255);
    /* border: white solid 1px; */
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fluid-services {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.advantage-text {
    border: solid 1px white;
    background-color: white;
    border-radius: 10px;
    padding-top: 40px;
}

.advantage-title, .advantage-desc {
    color: #015181;
}

.contact-form {
    border-radius: 10px;
    background: #015181;
    color: #f1f1f1;
    max-width: 800px;
    margin: auto;
}

.contact-button {
    background-color: #7FC810;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.5s;
}

.contact-button:hover {
    transform: scale(1.2);
}

.font-weight-bold {
    color: black;
}

.fixed-top .title-p {
    top: 10px!important;
}

.header-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-brand {
    font-family: 'rez';
    letter-spacing: .10em;
}

.card-advantage img {
    margin-top: 22px;
}

.card-transparent {
    background-color: rgba(255,255,255,0.7);
}

.card-body {
    padding: 2rem;
}

.card-title, .card-text {
    color: black;
}

.carousel-control-prev.push-left {
    left: -80px;
}

.carousel-control-next.push-right {
    right: -80px;
} 

/* fixed header */
.header {
    padding: 10px 16px;
    background: #015181;
    color: #f1f1f1;
} 
.content {
    padding: 16px;
} 
.sticky {
    position: fixed;
    top: 0;
    width: 100%
} 
.sticky + .content {
    padding-top: 102px;
}


/* Advantages */
.advantage-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Carousel */
.carousel-indicators {
    bottom: -20px;
}

.carousel-caption {
    left:20%;
    right:20%;
    bottom: -10px; 
}

@media screen and (max-width: 767px) {
    .card-brand {
        background-color: rgb(255, 255, 255);
        /* border: white solid 1px; */
        border-radius: 30px;
        -moz-border-radius: 30px;
        -webkit-border-radius: 30px;
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .advantage-title, .advantage-desc, .font-count-aditional {
        color: #015181;
        font-size: .8rem;
    }
    .advantage-container{
        margin-bottom: 100px!important;
    }
    /* .advantage-text {
        min-height: 180px;
    } */
    .img-fluid-services {
        max-width: 60%;
        height: auto;
    }

    .card-advantage {
        top: -86px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%; 
        height: 100px;
        width: 100px;
    }
    
    .card-advantage img {
        margin-top: 16px;
        max-width: 65%;
    }

    .advantage-text {
        padding-top: 14px;
    }

    .advantage-desc {
        line-height: 16px;
    }

    .card-img-top {
        width: 100%;
    }

    .card-title, .card-text {
        font-size: .7em;
    }

    .carousel-control-prev.push-left {
        left: 0;
    }
    
    .carousel-control-next.push-right {
        right: 0;
    } 
    .card-body {
        padding: 0.75rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .carousel-control-prev.push-left {
        left: -60px;
    }
    
    .carousel-control-next.push-right {
        right: -60px;
    } 

}

/* captcha */
.g-recaptcha {
    display: inline-block;
}


/* center 3 columns */

.row-centered {
    text-align: center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/*carousel*/